.form {
  display: flex;
  flex-direction: row;
}

.form-group {
  display: block;
  margin-right: 1%;
}

.btn-add {
  height: fit-content;
  background: #141d2c;
  border: #141d2c;
  color: whitesmoke;
  align-self: flex-end;
  margin-bottom: 1rem;
}

.is-invalid-btn {
  margin-bottom: 2.5rem;
}
