.footer {
  background-color: #141d2c;
  position: absolute;
  color: whitesmoke;
  width: 100%;
  left: 0;
  bottom: 0;
}

h6 {
  margin: 1%;
  text-align: center;
}

.name {
  margin-top: -1%;
  text-align: center;
}
